<label class="error-message">{{ submitMessage }}</label>

<form [formGroup]='loginForm' (ngSubmit)='loginSubmit()'>
    <mat-form-field>
        <input class="username" matInput placeholder="Username" type="text" required formControlName='userId'>

    </mat-form-field>
    <mat-form-field>
        <input class="password" matInput required placeholder="Password" type="password" formControlName='userPassword'>
    </mat-form-field>
    <button type="submit" [disabled]='loginForm.invalid' mat-raised-button color="primary">Submit</button>
</form>